*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#fixed{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #8b4e25;
    padding-right: 5%;
}

#fixed a{
    position: absolute;
    margin-left: 40%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#fixed #cross{
    position: absolute;
    right: 2%;
}
#fixed span i{
    font-size: 25px;
    color: rgb(235, 235, 235);
}

#photo{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1505826759037-406b40feb4cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1562828358-7dcf1c631580?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80); */
    /* background-image: url(https://images.unsplash.com/photo-1543339084-1726cfe7317b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80); */
    /* background-image: url(https://images.unsplash.com/photo-1565976469553-00d571cf97b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80); */
    background-size: cover;
    background-position: center;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    /*background-color: grey;*/
}

#nav h4{
    margin-top: 5px;
    margin-left: 70px;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    font-size: 23px;
}

#nav #nav2{
    display: flex;
    align-items: center;
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover{
    background-color: rgb(141, 141, 141);
    color: black;
}

#nav2 a{
    margin-right: 40px;
    text-decoration: none;
    color: white;
}

#photo #text{
    position: absolute;
    top: 45%;
    left:27%;
    transform: translate(-50%,-50%);
}

#text h3{
    font-size: 80px;
    font-weight: 100;
    color: white;
}

#text p{
    font-size: 15px;
    color: rgb(224, 222, 222);
    font-family: 'Karla', sans-serif;
}

#box{
    width: 600px;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    opacity: .8;
    overflow: hidden;
    display: flex;
}
#box input{
    width: 80%;
    height: 100%;
    border: none;
}
#box button{
    width: 20%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 800;
    background-color: rgb(167, 65, 7);
    border: none;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ffffff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  


/* 
#box1{
    top: 30%;
    left: 5%;
    position: absolute;
    display: flex;
    align-items: center;
}

#box1 h4{
    font-size: 13px;
}

#box1>a{
    text-decoration: none;
    color: grey;
    margin-left: 90px;
}

#box1 button{
    padding: 2px 10px;
    margin-left: 120px;
} */
#description{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    /* background-color: rgb(202, 202, 202); */
}

#order{
    top: 20%;
    position: relative;
    text-align: center;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(#be8d4b, #a59181);
    border-radius: 10px;
}

#order:hover{
    box-shadow: 0px 1px 4px 4px #a5a1a1;
    background-image: linear-gradient(#595e66, #0c3444);
    color: white;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

#order img{
    height: 90px;
    /* margin-left: 20px; */
}

#order h4{
    position: absolute;
    margin-top: 10px;
    margin-left: 55px;
    /* padding: 20px 60px; */
    font-size: 25px;
    font-weight: 600;
}

#order p{
    margin-top: 50px;
    font-size: 13px;
}

#tracking{
    top: 20%;
    position: relative;
    text-align: center;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(#be8d4b, #a59181);
    border-radius: 10px;
}

#tracking:hover{
    box-shadow: 0px 1px 4px 4px #a5a1a1;
    background-image: linear-gradient(#595e66, #0c3444);
    color: white;
}

#tracking img{
    height: 90px;
    /* margin-left: 20px; */
}

#tracking h4{
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    /* padding: 20px 60px; */
    font-size: 25px;
    font-weight: 600;
}

#tracking p{
    margin-top: 50px;
    font-size: 13px;
}

#lighting{
    top: 20%;
    position: relative;
    text-align: center;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(#be8d4b, #a59181);
    border-radius: 10px;
}

#lighting:hover{
    box-shadow: 0px 1px 4px 4px #a5a1a1;
    background-image: linear-gradient(#595e66, #0c3444);
    color: white;
}

#lighting img{
    height: 90px;
    /* margin-left: 20px; */
}

#lighting h4{
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    /* padding: 20px 60px; */
    font-size: 25px;
    font-weight: 600;
}

#lighting p{
    margin-top: 50px;
    font-size: 13px;
}
#restuarant{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    /* background-color: #dadada; */
}

#restuarant #left{
    position: absolute;
    top: 30%;
    left: 80px;
    width: 40%;
    height: 50%;
    background-color: #fff;
}

#restuarant #right{
    width: 44%;
    height: 80%;
    margin-left: 50%;
    background-image: url(https://images.unsplash.com/photo-1557659525-832c8cb214c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-position: center;
    background-size: cover;
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://images.unsplash.com/photo-1505826759037-406b40feb4cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80);
    -webkit-transform: scaleX(0);
    background-size: cover;
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }





#left h3{
    font-size: 30px;
    color: black;
}

#left p{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(163, 163, 163);
}

#cent{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
}
#cent #left1{
    width: 44%;
    height: 80%;
    margin-left: 5%;
    background-image: url(https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-position: center;
    background-size: cover;
}
#cent #right1{
    position: absolute;
    top: 30%;
    right: 10%;
    width: 40%;
    height: 50%;
    background-color: #fff;
    padding-left: 2%;
}


#right1 h3{
    font-size: 30px;
    color: black;
}

#right1 p{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(163, 163, 163);
}

#overview{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40%;
    background-color: #dbdbdb;
}

#company{
    top: 2%;
    margin-left: 60px;
    position: relative;
    text-align: left;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    /* background-color: #fff; */
    border-radius: 10px;
}

#company h3{
    font-size: 20px;
}

#company a{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(129, 126, 126);
}

#business{
    margin-left: 40px;
    top: 2%;
    position: relative;
    text-align: left;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    /* background-color: #fff; */
    border-radius: 10px;
}

#business h3{
    font-size: 20px;
}

#business a{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(129, 126, 126);
}

#contact{
    margin-left: 130px;
    top: 2%;
    position: relative;
    text-align: left;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    /* background-color: #fff; */
    border-radius: 10px;
}

#contact h3{
    font-size: 20px;
}

#contact a{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(129, 126, 126);
}

#legal{
    margin-left: 130px;
    top: 2%;
    position: relative;
    text-align: left;
    padding: 50px 30px;
    width: 300px;
    height: 300px;
    /* background-color: #fff; */
    border-radius: 10px;
}

#legal h3{
    font-size: 20px;
}

#legal a{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(129, 126, 126);
}

#other{
    width: 100%;
    height: 80px;
    background-color: #dbdbdb;
}

#icons{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#icons i{
    font-size: 25px;
    margin-left: 20px;
}

#last{
    margin-top: 15px;
    width: 100%;
    height: 15px;
    
}

#last p{
    font-size: 12px;
    text-align: center;
    color: #555454;
}



/* Icon Grow */
.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
  }